@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lora:wght@400;700&family=Poppins&display=swap");

:root {
  /*  colors*/
  --primary: #7cb9e8;
  --secondary: black;
  --background: #f3f1f7;
  --black: #333a44;
  --white: #fff;

  /*  text*/
  --text: "Poppins", sans-serif;
  --title: "Playfair Display", serif;
  /* general */
  --default-margin: 8px;
  --shadow: 1px 1px 3px rgba(56, 65, 74, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background) !important;
  font-family: var(--text) !important;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--black);
}

/*************** buttons ****************/

button {
  background: var(--secondary);
  color: var(--white);
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.2em;
  border: 1px solid transparent;
  transition: all 0.25s;
  font-weight: 500;
  min-width: 200px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
}

button:hover {
  box-shadow: var(--shadow);
  opacity: 0.8;
  background: var(--primary);
  color: var(--secondary);
}

button:focus,
button:focus-visible {
  outline: 0px;
  box-shadow: var(--shadow);
}

button.lg {
  padding: 16px 32px;
}

/*************** navbar ****************/

nav {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

nav .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav .nav-links a:hover {
  color: var(--primary);
}

nav .nav-icon {
  color: var(--secondary);
  font-size: 25px;
  font-weight: bold;
}

nav i:hover {
  color: var(--primary);
  cursor: pointer;
}

nav a {
  text-decoration: none !important;
  color: var(--black);
}

/*************** menu ****************/

details {
  position: relative;
}

.menu_list {
  z-index: 2;
  position: absolute;
  background: white;
  right: 0;
  padding: 0;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349);
  border-radius: 8px;
  margin-top: 3px;
  overflow: hidden;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.menu_item {
  padding: 8px 10px;
  text-align: left;
  font-weight: 400;
}

.menu_item:hover,
.menu_item:focus {
  background: rgba(211, 211, 211, 0.432);
  outline: none;
}
.menu_item:hover i,
.menu_item:focus i {
  color: var(--primary);
}
details[open] .btn {
  background: lightgrey !important;
}

summary {
  list-style: none;
}

/*************** hero ****************/

.hero {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://myflowimages.s3.us-east-2.amazonaws.com/frontend/Homepage.jpg");
  background-size: cover;
  background-position: bottom;
  border-radius: 20px;
  filter: brightness(80%);
}

.hero-text {
  font-size: 2.5em;
  color: var(--white);
  text-align: center;
  font-weight: 900;
  font-family: var(--title);
}

.hero-content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.logo-wrapper {
  top: -80px;
  position: absolute;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  overflow: hidden;
  background: white;
  margin: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.logo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*************** features ****************/

.feature-img-container {
  border-radius: 50% !important;
  height: 300px;
  width: 300px;
  position: relative;
  outline: 20px solid var(--white);
  outline-offset: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px var(--primary);
}

.feature-img-container img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.lead:first-letter {
  color: var(--primary);
  font-size: 1.6em;
  font-family: var(--title);
}

.features .lead {
  font-size: 1.2em;
  font-weight: 500;
}

/*************** Contact us ****************/

.contact-card {
  border-radius: 20px;
  overflow: hidden;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact-img-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.contact-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*************** footer ****************/

footer {
  box-shadow: 0px 0 2px rgba(0, 0, 0, 0.4);
  background: var(--secondary);
  color: var(--white);
}

footer i {
  color: var(--white);
  font-size: 2em;
}

footer a:hover i {
  color: var(--primary);
}

/*************** Media ****************/

@media screen and (max-width: 992px) {
  nav {
    justify-content: flex-end;
  }
  nav .nav-links {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .hero-text {
    font-size: 2em;
  }

  .logo-wrapper {
    height: 150px;
    width: 150px;
  }
}
