@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lora:wght@400;700&family=Poppins&display=swap");

:root {
  /*  colors*/
  --primary: #7cb9e8;
  --secondary: tomato;
  --accent: white;
  --background: #f3f1f7;
  --black: #333a44;
  --white: #fff;

  /*  text*/
  --hero: "Poppins", sans-serif;
  --title: "Playfair Display", serif;
  --text: "Lora", serif;
  /* general */
  --default-margin: 8px;
  --shadow: 1px 1px 3px rgba(56, 65, 74, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background) !important;
  font-family: var(--hero);
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--black);
}

button {
  background: black;
  color: white;
  padding: 16px 32px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.2em;
  border: 1px solid transparent;
  transition: all 0.25s;
  font-weight: 500;
  min-width: 200px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

button:hover {
  box-shadow: var(--shadow);
  opacity: 0.8;
  background: var(--primary);
  color: black;
}

button:focus,
button:focus-visible {
  outline: 0px;
  box-shadow: var(--shadow);
}

.hero {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://myflowimages.s3.us-east-2.amazonaws.com/frontend/Homepage.jpg");
  background-size: cover;
  background-position: bottom;
  border-radius: 20px;
  filter: brightness(80%);
}

.hero-text {
  font-size: 2.5em;
  color: white;
  text-align: center;
  font-weight: 900;
}

.hero-content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.logo-wrapper {
  top: -80px;
  position: absolute;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  overflow: hidden;
  background: white;
  margin: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  /*  animation: glow infinite 1.5s alternate-reverse;*/
}

@keyframes glow {
  0% {
    box-shadow:
      0 0 10px var(--primary),
      0 0 10px var(--primary),
      0 0 10px var(--primary);
  }
  100% {
    box-shadow:
      0 0 10px var(--secondary),
      0 0 10px var(--secondary),
      0 0 10px var(--secondary);
  }
}

.logo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav i {
  color: var(--black);
  font-size: 25px;
  font-weight: bold;
}

nav i:hover {
  color: var(--primary);
  cursor: pointer;
}

nav a {
  text-decoration: none !important;
  color: var(--black);
}

footer {
  box-shadow: 0px 0 2px rgba(0, 0, 0, 0.4);
  background: black;
  color: white;
}

footer i {
  color: var(--white);
  font-size: 2em;
}

footer a:hover i {
  color: var(--primary);
}

.features .lead {
  font-size: 1.2em;
  font-weight: 500;
}

/*menu*/
details {
  position: relative;
}

.menu_list {
  z-index: 2;
  position: absolute;
  background: white;
  right: 0;
  padding: 0;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349);
  border-radius: 8px;
  margin-top: 3px;
  overflow: hidden;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.menu_item {
  padding: 8px 10px;
  text-align: left;
  font-weight: 400;
}

.menu_item:hover,
.menu_item:focus {
  background: rgba(211, 211, 211, 0.432);
  outline: none;
}
.menu_item:hover i,
.menu_item:focus i {
  color: var(--primary);
}
details[open] .btn {
  background: lightgrey !important;
}

summary {
  list-style: none;
}

.card {
  overflow: hidden;
}

/*contact-us  */
.contact-card {
  border-radius: 20px;
  overflow: hidden;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact-img-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.contact-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
